
debian/.debhelper/top.yzzi.youjian/dbgsym-build-ids
debian/.debhelper/top.yzzi.youjian/dbgsym-root/DEBIAN/control
debian/.debhelper/top.yzzi.youjian/dbgsym-root/DEBIAN/md5sums
debian/.debhelper/top.yzzi.youjian/dbgsym-root/usr/lib/debug/.build-id/70/7bdf6a37f5922c2f811820ef9c2a36072877b1.debug
debian/.debhelper/top.yzzi.youjian/dbgsym-root/usr/lib/debug/.build-id/dc/5f03def5c7e370727881a2a4f5663f870353f1.debug
debian/.debhelper/top.yzzi.youjian/dbgsym-root/usr/share/doc/top.yzzi.youjian-dbgsym
oh-my-dde.pro.user
